bindsym $mod+Shift+minus move scratchpad
bindsym $mod+minus scratchpad show


bindsym $mod+Mod1+l exec --no-startup-id i3lock --image=/home/leapfrog/Downloads/miyamoto-musashi-3840x2160-15204.png -t

bindsym $mod+Delete exec $HOME/.config/i3blocks/scripts/shutdown_menu/shutdown_menu

bindsym $mod+Shift+b exec --no-startup-id zen

bindsym $mod+ctrl+s exec --no-startup-id flameshot gui
bindsym $mod+ctrl+a exec --no-startup-id pavucontrol

bindsym $mod+d exec --no-startup-id $HOME/.config/rofi/scripts/launcher_t1
bindsym $mod+Shift+d exec --no-startup-id $HOME/.config/rofi/scripts/launcher_t3
bindsym $mod+Shift+Delete exec --no-startup-id $HOME/.config/rofi/applets/bin/powermenu.sh
